env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_DISABLE_CACHE = "True"

  CMD_OUTRIDER_FRASER = "apptainer exec --no-mount home ${projectDir}/containers/rna_outliers_hg19hg38.sif"
  CMD_MAE = "apptainer exec --no-mount home ${projectDir}/containers/mae.sif"
}

process {
    executor="slurm"
    //errorStrategy = 'ignore'
    containerOptions = "--bind ${projectDir}"
}
params {
    featurecounts {
        genes_gtf="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/gtf/gencode.v29lift37.annotation.gtf"
    }
    extcounts {
        folder="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/counts/GTEX/Whole_Blood--hg19--gencode29"
        amount_outrider=50
        amount_fraser=50
    }
    samplesheet="/groups/umcg-gdio/tmp01/umcg-tniemeijer/resources/sampletables/sampletable_07_10copy.tsv"
    fastafolder="/apps/data/1000G/phase1/"
    fasta="phase1/human_g1k_v37_phiX.fasta.gz"
    output="/groups/umcg-gdio/tmp01/umcg-tniemeijer/outrider_fraser/PID_new_version_rna"
    
    fraser {
        frasercountsR="${projectDir}/fraser/frasercounts.R"
        mergescriptR="${projectDir}/fraser/merge_counts.R"
        fraserR="${projectDir}/fraser/fraser.R"
    }
    outrider {
        outridercountsR="${projectDir}/outrider/featurecounts.R"
        mergecountsR="${projectDir}/outrider/mergecounts.R"
        outriderDatasetR="${projectDir}/outrider/create_outrider_dataset.R"
        outriderOptimR="${projectDir}/outrider/outrider_optim.R"
        mergeQFiles="${projectDir}/outrider/merge_qfiles.R"
        outriderR="${projectDir}/outrider/outrider.R"
    }
    mae {
        resultsR="${projectDir}/MAE/get_MAE_results.R"
    }
    
}
workDir="${params.output}/work"
